table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	align-self: center;
}

table.gridtable th {
	border-width: 1px;
	padding: 8px;
	text-align: center;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.gridtable caption {
	font-size:16px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

td.tb_title {
	border-width: 1px;
	padding: 8px;
	font-size:16px;
	font-weight: bolder;
	text-align: center;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

div.float_right {
	margin-top: 8px;
	float: right;
	font-size: 14px;
}

input.numb_input {
	width: 78px;
}

.calc_bt {
	width: 128px;
	height: 40px;
	font-size: 16;
}